{% if section.settings.video_url != blank %}

<div class="simple_video_wrap">
  
  <video class="simple_video" preload="" width="100%" autobuffer="" playsinline="" autoplay="autoplay" muted="" loop="" poster="{{ section.settings.video_poster | img_url: 'master' }}">
    <source src="{{ section.settings.video_url }}" type="video/mp4">
  </video>
  <img class="play_btn" src="{{ 'play-icon.svg' | asset_url }}" alt="">
  
</div>

{% endif %}


{% schema %}
  {
    "name": "Simple Video",
    "settings": [
		{
		  "type": "image_picker",
          "id": "video_poster",
          "label": "Video Poster Image"
        },
		{
		  "type": "url",
          "id": "video_url",
          "label": "Video Link"
        }
	], 
	"presets": [
		{
			"name": "Simple Video",
      		"category": "Custom Category"
    	}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
