/**
 * Web Developer Custom Stylesheet
 */

/* header style */
.h__top .col-lg-12 .header-text {
  text-align: center;
}

.h__top .col-lg-12 .header-text strong {
  font-size: 16px;
  font-weight: 500;
}

.h__top .col-lg-12 .header-text a {
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
}

.h__top .col-lg-12 .header-text a:hover {
  color: #10324b;
  text-decoration: none;
}

.ntheader_wrapper {
  background: linear-gradient(180deg, #000000 0%, transparent 100%);
}

.header__mid > .container {
  padding: 0 42px;
}

.header__mid .header_logo {
  min-width: 250px;
}

.ntheader_wrapper .header__mid .header_logo .dib {
  margin-left: 0;
}

.header__mid .col_group_btns {
  min-width: initial;
  width: 165px;
  padding-left: 0;
}

.header__mid .nt_action .icon_cart {
  padding: 0;
  margin-left: 20px;
}

.icon_cart .la-shopping-cart:before {
  content: url('shopping-bag.svg');
}

.icon_cart .la-shopping-cart .tcount {
  background: #E90101;
  top: -1px;
  right: -4px;
}

.header__mid .nt_action .my-account {
  padding: 0;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.header__mid .nt_action .my-account a {
  height: 24px;
}

.my-account .la-user:before {
  content: url('user-icon.svg');
  width: 24px;
  height: 24px;
  display: block;
}

.header__mid .nt_action .icon_search {
  padding: 0;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.icon_search .la-search:before {
  content: url('search.svg');
  width: 24px;
  height: 24px;
  display: block;
}

.header__mid .header_lang_cur {
  padding-right: 0;
}

.ntheader_wrapper .nt_currency {
  color: #fff;
}

.nt_currency .facl {
  margin-left: 7px;
}

.flagst4-sm.flagst4-AUD:before, .flagst4-sm.flagst4-CAD:before, .flagst4-sm.flagst4-DKK:before, .flagst4-sm.flagst4-EUR:before, .flagst4-sm.flagst4-GBP:before, .flagst4-sm.flagst4-HKD:before, .flagst4-sm.flagst4-JPY:before, .flagst4-sm.flagst4-NZD:before, .flagst4-sm.flagst4-SGD:before, .flagst4-sm.flagst4-USD:before, .flagst4-sm.flagst4-VND:before {
  width: 20px !important;
  height: 15px !important;
}

.flagst4.lazyloadt4sed:before {
  margin-right: 7.5px;
  margin-top: -3px;
}

.ntheader_wrapper .languages {
  margin-right: 25px;
}

.nt_currency ul {
  border-radius: 0;
  padding: 12px;
  padding-left: 15px;
}

.nt_currency ul li a:not(.dn) {
  margin-bottom: 10px;
  color: #10324B;
  line-height: 1.5;
}

.nt_currency ul li:last-child a {
  margin-bottom: 0;
}

.nt_currency ul li a.selected {
  text-decoration: underline;
}

.ntheader .nt_menu {
  width: 100%;
}

.ntheader .nt_menu > li > a {
  padding: 0 28px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
}

#ntheader .nt_menu > li.has-children > a:after {
  font-weight: 500;
  color: #fff;
  margin-left: 7px;
}

.ntheader .nt_menu > li:last-child {
  flex: auto;
  display: flex;
  justify-content: flex-end;
}

.ntheader .nt_menu > li:last-child > a {
  padding-right: 0;
}

.nt_menu .la-map-marker {
  margin-right: 11px;
}

.nt_menu .la-map-marker:before {
  content: url('map-pin.svg');
}

.nt_menu .type_mega .sub-menu {
  padding: 56px;
}

.nt_menu .type_mega .sub-menu:before {
  content: '';
  display: block;
  width: 100%;
  height: 11px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #919191 0%, rgba(196, 196, 196, 0) 100%);
}

#bk_3d43740c-1712-4a0e-8178-d8206ef3a858 {
  padding: 0;
  padding-right: 70px;
}

#bk_33c674e6-1902-4a07-bee8-10706ec54ed3 {
  padding: 0;
  padding-right: 85px;
}

#bk_bf6d49be-53bc-4564-b42f-9bc3e6c177b8 {
  padding: 0;
  padding-right: 25px;
}

#bk_18acd97e-ff77-4af3-b2d3-c16bf9ecc8cf {
  padding: 0;
  padding-left: 25px;
}

.nt_menu .sub-menu .type_mn_link > a {
  font-size: 18px;
  font-weight: 600;
  color: #10324B;
  padding: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #CBC6C1;
  margin-bottom: 18px;
}

.nt_menu .sub-menu .type_mn_link ul.sub-column li {
  margin-bottom: 10px;
}

.nt_menu .sub-menu .type_mn_link ul.sub-column li:last-child {
  margin-bottom: 0;
}

.nt_menu .sub-menu .type_mn_link ul.sub-column li a {
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  color: #10324B;
}

.nt_menu .type_mn_pr .cat_grid_item__overlay {
  padding-top: 100% !important;
}

.nt_menu .cat_design_1 .cat_grid_item__wrapper {
  bottom: 21px;
  min-width: initial;
  width: calc(100% - 72px);
  max-width: 250px;
  height: 45px;
  box-shadow: none;
  border: 2px solid #10324B;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.nt_menu .cat_design_1 .cat_grid_item__title {
  color: #10324B;
  font-size: 16px;
  font-weight: 600;
}

#item_1585641227863 .sub-menu .col-3 {
  flex: 0 0 20%;
  max-width: 20%;
  padding: 0;
  padding-right: 25px;
}

#item_1585641227863 .sub-menu .col-3.type_mn_link {
  padding-right: 0;
  padding-left: 70px;
  padding-top: 42px;
}

.nt_menu .cat_design_2 .cat_grid_item__link:before {
  display: none;
}

.nt_menu .cat_design_2 .cat_grid_item__wrapper {
  position: initial;
  transform: initial;
  text-shadow: none;
  margin-top: 35px;
}

.nt_menu .cat_design_2 .cat_grid_item__title {
  font-size: 18px;
  font-weight: 400;
  color: #10324B;
}


/* footer style */
.footer__top .widget_footer {
  max-width: 322px;
}

.footer__top .widget_footer p {
  color: #4C4E4E;
  line-height: 1.25;
}

.footer__top h3.widget-title {
  font-size: 18px;
  line-height: 1.25;
  color: #4C4E4E;
  font-weight: 600;
}

.footer__top .menu_footer {
  padding-top: 14px;
}

.footer__top .menu li {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

.footer__top .menu li a {
  color: #4C4E4E;
}

.footer__top .menu li a:hover {
  color: #4C4E4E;
}

.footer_social {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
}

.footer_social li {
  margin-right: 18px;
}

.footer__bot_wrap {
  padding: 0;
  padding-top: 3px;
}

.f_bot_bt_copy {
  padding-top: 12px;
  padding-bottom: 11px;
  line-height: 1.5;
}


/* Home page style */
.lookbook_details {
  position: absolute;
  padding: 90px 70px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.lookbook_details h2 {
  margin: 0;
  margin-bottom: 15px;
  color: #fff;
}

.lookbook_details .sub-title {
  margin-bottom: 21px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  font-style: normal;
  text-align: left;
}

.lookbook_cta .button {
  text-transform: initial;
  min-width: 250px;
}

.pin__size--small {
  width: 25px;
  height: 25px;
}

.pin__type .pin_tt {
  background: url('pin.svg');
}

.pin__type .pin_tt i {
  display: none;
}

.type_featured_collection_owl h3.section-title {
  margin-bottom: 4px;
  color: #10324B;
  font-weight: 500;
}

.type_featured_collection_owl span.section-subtitle {
  margin-bottom: 32px;
  color: #10324B;
  font-weight: 500;
  line-height: 1.5;
}

.des_title_13 {
  padding-bottom: 30px;
  position: relative;
}

.des_title_13:after {
  width: 195px;
  height: 1px;
  background: #B99450;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.des_title_13:before {
  content: '';
  background: url('section-logo.svg') no-repeat #fff;
  background-size: 100% auto;
  position: absolute;
  z-index: 1;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 65px;
  height: 60px;
}

.nt_slider .product .product-info {
  margin-top: 32px;
  text-align: center;
}

.nt_slider .product h3.product-title {
  font-weight: 600;
  color: #10324B;
  text-align: center;
  margin-bottom: 10px;
}

.nt_slider .product h3.product-title a {
  color: #10324B;
}

.nt_slider .product h3.product-title a:hover {
  color: #B99450;
}

.nt_slider .product .product-info .price {
  display: block;
  text-align: center;
  line-height: 1.5;
  color: #10324B;
  font-weight: 500;
  margin-bottom: 16px;
}

.nt_slider .flickityt4s-button {
  width: 24px;
  height: 24px;
  border: 1px solid #000;
  border-radius: 0;
  min-height: initial;
}

.nt_slider .flickityt4s-button:before {
  width: 22px;
  height: 22px;
  line-height: 22px;
  margin-left: -5px;
}

.nt_slider .flickityt4s-button.previous {
  left: -100px;
}

.nt_slider .flickityt4s-button.next {
  right: -100px;
}

.product-image .nt_add_w > a, .product-image .nt_add_w > a:hover {
  color: #B99450;
}

.collection_cta_wrap {
  padding-top: 63px;
  display: flex;
  justify-content: center;
}

.collection_cta_wrap button {
  width: 250px;
  text-transform: initial;
}

/* #shopify-section-template--15962087850240__1592038579687 {
  background: url('house-outlined.png') no-repeat top 50px right 0px;
} */

.simple_video_wrap {
  position: relative;
}

.simple_video_wrap video {
  display: block;
}

.play_btn {
  display: none;
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.paused .play_btn {
  display: block;
}

/* #shopify-section-template--15962087850240__16518410576272fe1e {
  background: url('house-outlined-left.png') no-repeat top 55px left 0px;
}

#shopify-section-template--15962087850240__16520978606dfcd935 {
  background: url('bemma_floral.png') no-repeat top -22px right 0px;
} */

.type_feature_columns .des_title_13 .section-title {
  margin-bottom: 4px;
  color: #10324B;
  font-weight: 500;
}

.type_feature_columns .des_title_13 .section-subtitle {
  margin: 0 auto 30px;
  color: #10324B;
  font-weight: 500;
  line-height: 1.5;
  max-width: 555px;
}

.type_feature_columns .nt_banner_holder {
  margin-top: 75px;
}

.type_feature_columns .cat_space_item .category-content {
  margin: 0 auto;
  max-width: 300px;
}

.type_feature_columns .cat_space_item .category-content h3 {
  line-height: 1.22;
  color: #10324B;
  font-weight: 500;
  min-height: 125px;
  margin-bottom: 5px;
}

.type_feature_columns .cat_space_item .category-content .rte-setting {
  margin-top: 0;
  color: #10324B;
}

.type_feature_columns .cat_space_item .category-content .rte-setting p:last-child {
  margin-bottom: 0;
}

.type_image_text .row.no-gutters {
  align-items: initial;
}

.type_image_text .txt_col_img {
  padding-left: 24px;
}

.type_image_text .txt_col_img .column {
  background: #10324B;
  height: 100%;
  padding: 109px 42px;
}

.type_image_text .txt_col_img .column h3 {
  font-size: 28px;
  margin-bottom: 32px;
  font-weight: 700;
  max-width: 350px;
}

.type_image_text .txt_col_img .column .txt_col_content {
  max-width: 322px;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
}

.type_image_text .txt_col_img .column .txt_col_content p {
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
}

.type_image_text .txt_col_img .column .txt_col_content p:last-child {
  margin-bottom: 0;
}

.type_image_text .text_col_btn {
  position: absolute;
  left: 66px;
  bottom: 44px;
  width: calc(100% - 108px);
  max-width: 376px;
}

.type_image_text .text_col_btn .button {
  display: flex;
  border: none;
  border-radius: 0;
  background: #B99450;
  color: #000;
  font-size: 16px;
  height: 45px;
  justify-content: center;
  align-items: center;
  text-transform: initial;
  font-weight: 600;
}

.type_image_text .text_col_btn .button:hover {
  opacity: 0.85;
}

#shopify-section-template--15962087850240__1652097887ed305906 .text_col_btn .button:before {
  content: url('brush.svg');
  margin-right: 18px;
}

/* #shopify-section-template--15962087850240__1581508031759 {
  background: url('house-outlined.png') no-repeat top 61px right 0px;
} */

.type_featured_blog .des_title_13 {
  margin-bottom: 63px;
}

.type_featured_blog .des_title_13 h3 {
  margin-bottom: 4px;
  font-weight: 500;
  color: #10324B;
}

.type_featured_blog .des_title_13 .section-subtitle {
  margin-bottom: 32px;
  color: #10324B;
  font-weight: 500;
}

.type_featured_blog article .post-info {
  border: 1px solid #4C4E4E;
  padding: 27px 22px;
  padding-left: 27px;
}

.type_featured_blog article .post-info__tags {
  font-weight: 500;
  color: #000;
  line-height: 1.5;

}

.type_featured_blog article .post-info h4 {
  line-height: 1.22;
  color: #000;
  font-weight: 600;
  margin: 24px 0;
}

.type_featured_blog article .post-content {
  color: #000;
  font-weight: 500;
  line-height: 1.5;
}

.type_featured_blog article .post-readmore {
  font-weight: 600;
  line-height: 1.5;
  margin-top: 21px;
}

.testi_heading h4.title {
  font-weight: 600;
}

.testi_heading .sub-title {
  font-weight: 500 !important;
  color: #10324B !important;
}

.type_testimonials .quote_texts p {
  font-weight: 500;
  color: #4C4E4E;
  line-height: 1.5;
}

.type_testimonials .quote_infors .quote_author {
  font-weight: 600;
}

.type_image_text .img_right .txt_col_img {
  padding-left: 0;
  padding-right: 24px;
}

.type_image_text .img_right .text_col_btn {
  left: 42px;
}

.type_newsletter2 h3.section-title {
  margin-bottom: 11px;
  font-weight: 500;
  color: #4C4E4E;
  font-size: 34px;
}

.type_newsletter2 .section-subtitle {
  color: #4C4E4E;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

.type_newsletter2 form .signup-newsletter-form .col_email input {
  font-size: 16px;
  color: #63666A;
  border: 1px solid #63666A;
}

.type_newsletter2 form .signup-newsletter-form .submit-btn {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-transform: initial;
  background: #10324B;
  letter-spacing: 0;
}


/* header popup */
.nt_mini_cart .mini_cart_header {
  border-bottom: 1px solid #CBC6C1;
}

.nt_mini_cart .mini_cart_header .widget-title {
  text-transform: initial;
  font-weight: 600;
  font-size: 21px;
}

.nt_mini_cart .mini_cart_content .form-row label {
  font-weight: 500;
}

.nt_mini_cart .mini_cart_content .form-row input {
  color: #10324B;
}

.nt_mini_cart .mini_cart_content .button {
  color: #000;
  text-transform: initial;
  font-size: 16px;
  transition: all 0.3s ease-in-out !important;
  min-height: 45px;
}

.nt_mini_cart .mini_cart_content .button:hover {
  opacity: 0.85;
}

.nt_mini_cart .mini_cart_content p:not(.form-row) {
  font-size: 14px;
  line-height: 1.5;
}

.nt_mini_cart .mini_cart_content p .link_acc {
  color: #000;
  font-weight: 600;
  margin-left: 6px;
}

.nt_mini_cart .mini_cart_content p .link_acc:hover {
  border-bottom: 1px solid #000;
}

.mini_cart_content .mini_cart_item {
  border-bottom: 1px solid #CBC6C1;
}

.mini_cart_content .mini_cart_item:hover {
  background: transparent
}

.mini_cart_content .mini_cart_item .mini_cart_title {
  font-size: 16px;
  font-weight: 600;
  color: #10324b;
  margin-bottom: 3px;
}

.mini_cart_content .mini_cart_item .cart_meta_variant {
  color: #454545;
  font-style: italic;
  font-size: 12px;
  margin-bottom: 3px;
}

.mini_cart_content .mini_cart_item .cart_meta_price {
  font-weight: 600;
  font-size: 16px;
}

.cart_meta_propertyList li.product-details__item {
  color: #454545;
  font-style: italic;
}

.cart_meta_propertyList li.product-details__item strong {
  color: #000;
}

.mini_cart_actions .quantity {
  border-radius: 40px;
}

.mini_cart_actions .quantity input.qty {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.mini_cart_actions .quantity button {
  min-height: 38px;
  height: 100%;
}

.mini_cart_upsell_items .upsell_item__title {
  font-weight: 600;
  color: #10324b;
  margin-bottom: 6px;
}

.upsell_item .price {
  font-weight: 600;
}

.mini_cart_footer .cart_tot_price {
  font-weight: 600;
  color: #10324B;
}

.mini_cart_footer .txt_tax_ship {
  font-style: italic;
  color: #454545;
}

.mini_cart_footer label {
  color: #4C4E4E;
  font-weight: 500;
}

.mini_cart_footer a.button.btn-cart {
  text-transform: initial;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 600;
  color: #10324B;
  border: 2px solid #10324B;
  background: #fff;
  min-height: 45px;
}

.mini_cart_footer a.button.btn-cart:hover {
  background: #10324B;
  color: #fff;
  opacity: 0.85;
}

.mini_cart_footer .button.btn-checkout {
  color: #000;
  text-transform: initial;
  font-size: 16px;
  letter-spacing: 0;
}

.mini_cart_footer .button.btn-checkout:hover {
  opacity: 0.85;
}

.mini_cart_footer [data-currency-jsnotify] {
  font-style: italic;
  color: #454545;
}


/* Cart page */
.page-head {
  min-height: 270px;
  display: flex;
  align-items: flex-end;
}

.page_head_small {
  min-height: 270px;
}

.page_head_medium {
  min-height: 360px;
}

.page-head > .container {
  max-width: 100%;
  padding: 0 42px;
}

.page-head h1 {
  font-size: 38px;
  line-height: 1.22;
  text-transform: initial;
  font-weight: 400;
  margin-bottom: 0;
  text-align: left;
}

.page-head--center h1 {
  text-align: center;
}

.template-cart .cart_page_section .cart_header {
  padding-bottom: 10px;
  color: #000;
  font-size: 16px;
}

.template-cart .frm_cart_page .cart_item {
  border-top: 1px solid #CBC6C1;
}

.template-cart .frm_cart_page .cart_item:last-child {
  border-bottom: 1px solid #CBC6C1;
}

.template-cart .frm_cart_page .mini_cart_title {
  color: #10324B;
  font-size: 18px;
  font-weight: 600;
}

.template-cart .frm_cart_page .mini_cart_title a {
  color: #10324B;
}

.template-cart .cart_meta_variant {
  color: #454545;
  font-style: italic;
  font-size: 13px;
  line-height: 1.4;
}

.template-cart .cart_meta_variant strong {
  color: #000;
}

.template-cart .cart_item .price {
  font-size: 18px;
  font-weight: 600;
}

.template-cart .frm_cart_page .mini_cart_actions .quantity {
  border-radius: 40px;
}

.template-cart .cart-item-price {
  font-size: 18px;
  font-weight: 600;
  color: #10324b;
}

.template-cart .cart__footer .cart-note__label {
  margin-bottom: 16px;
  color: #63666A;
}

.template-cart .frm_cart_page #CartSpecialInstructions {
  min-height: 160px;
  padding: 13px 16px;
  border: 1px solid #63666A;
  color: #000;
  font-size: 16px;
}

.template-cart .cart__footer > .row {
  justify-content: space-between;
}

.template-cart .cart__footer .col-12:last-child {
  max-width: 350px;
}

.template-cart .cart__footer .total {
  width: calc(100% + 30px);
  margin-bottom: 16px;
}

.template-cart .cart__footer .total .col-auto {
  color: #10324B;
  font-size: 18px;
  font-weight: 600;
  text-transform: initial;
}

.template-cart .cart__footer .txt_tax_ship {
  font-style: italic;
  color: #454545;
  text-align: left;
  margin-bottom: 21px;
  font-size: 14px;
}

.template-cart .cart__footer .t4s_agree_wrap {
  display: block;
  text-align: left;
  margin-bottom: 18px;
}

.template-cart .cart__footer .t4s_agree_wrap label {
  font-size: 14px;
  color: #4C4E4E;
  font-weight: 500;
}

.template-cart .t4s_agree_wrap .js_agree_ck~svg {
  top: 5px;
}

.template-cart .cart__footer [data-currency-jsnotify] {
  font-style: italic;
  color: #454545;
  text-align: left;
  font-size: 14px;
}

.template-cart .cart__footer .btn_checkout {
  width: 100%;
  background: #b99450;
  border-color: #10324B;
  text-transform: initial;
  transition: all 0.3s ease-in-out !important;
  border: 0;
}

.template-cart .cart__footer .btn_checkout:hover {
  opacity: 0.85;
}

.template-cart .additional_checkout_buttons, .template-cart .additional_checkout_buttons .shopify-cleanslate>div {
  display: block;
}


/* About page */
.page_head_big {
  min-height: 450px;
}

.page-head:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 11px;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, transparent 100%);
}

.align_left {
  text-align: left;
}

.align_right {
  text-align: right;
}

.align_center {
  text-align: center;
}

.about_help .wrap_title {
  margin-bottom: 29px;
}

.about_help .section-title {
  justify-content: flex-start;
  font-weight: 500;
}

.about_help .section-title span {
  margin: 0;
}

.about_us_txt {
  line-height: 1.25;
}

.cus_block_btn {
  text-align: right;
}

.cus_block_btn .button {
  text-transform: initial;
  width: 285px;
  margin-bottom: 25px;
  max-width: 100%;
}

.about_mission .cus_block_img {
  padding-right: 27px;
}

.about_mission .cus_block_content {
  padding-left: 27px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
}

.about_mission .cus_block_cont_inner {
  max-width: 445px;
}

.about_mission .about_us_txt {
  margin-bottom: 48px;
}

.cus_cont_btn .button {
  text-transform: initial;
  min-width: 250px;
}

.about_us_txt p {
  margin-bottom: 18px;
}

.about_us_txt p:last-child {
  margin-bottom: 0;
}

.meet_founder > .row {
  justify-content: space-between;
}

.meet_founder .cus_block_content {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 27px;
  max-width: initial;
  flex: initial;
  width: 41.5%;
}

.meet_founder .cus_block_img {
  padding-left: 27px;
  max-width: initial;
  flex: initial;
  width: 56.5%;
}

.cus_cont_sign_wrap {
  display: flex;
  flex-wrap: wrap;
}

.cus_cont_sign_block {
  width: 50%;
}

.cus_cont_sign_block h6 {
  margin: 0;
  margin-bottom: 3px;
}

.cus_cont_sign_block img {
  margin-left: -15px;
  margin-right: -15px;
}

.meet_founder .about_us_txt {
  margin-bottom: 45px;
}

.cus_block_video .simple_video_wrap {
  overflow: hidden;
}

.cus_block_video .simple_video_wrap:before {
  content: '';
  padding-top: 100%;
  width: 100%;
  display: block;
}

.cus_block_video .simple_video_wrap video {
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: auto;
  transform: translateX(-50%);
}

.about_story .cus_block_content {
  padding-left: 7.5px;
  padding-right: 27px;
}


/* Account pages */
.button.button_primary {
  color: var(--color-black);
  transition: all 0.3s ease-in-out;
}

.button.button_primary:hover {
  color: var(--color-black);
}

.empty_cart_page .button_primary {
  font-size: 16px;
  line-height: 1.22;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out !important;
}

button.address-edit-toggle:active, button.address-edit-toggle:focus {
  background-color: var(--color-dark-tile);
  border-color: var(--color-dark-tile);
}

.login-form input.btn {
  font-size: 16px;
  line-height: 1.22;
  transition: all 0.3s ease-in-out !important;
  color: var(--color-black);
  background-color: var(--color-gold);
  border-color: var(--color-gold);
}

.login-form input.btn:hover {
  opacity: 0.85;
}

#HideRecoverPasswordLink {
  margin-left: 9px;
  font-size: 16px;
  line-height: 1.22;
  transition: all 0.3s ease-in-out !important;
  color: var(--color-dark-tile);
  background-color: var(--color-white);
  border-color: var(--color-dark-tile);
}

#HideRecoverPasswordLink:hover {
  opacity: 0.85;
  color: var(--color-white);
  background-color: var(--color-dark-tile);
}


/* Bemma Gallery Page*/
.ins_shop_wrap.nt_slider .flickityt4s-button {
  top: calc(50% - 12px);
  top: -webkit-calc(50% - 12px);
}

.ins_shop_wrap .hotspot_ins {
  width: 25px;
  height: 25px;
  border: none;
  background: url('pin.svg');
}

.ins_shop_wrap .hotspot_ins span {
  display: none;
}


/* Contact Us Page*/
.contact_wrap h3 {
  margin-top: 0;
  margin-bottom: 60px;
  color: #454545;
  font-size: 32px;
  font-weight: 700;
  text-transform: initial;
}

.contact-form label {
  margin-bottom: 4px;
  color: #63666A;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  display: block;
}

.contact-form p {
  margin-bottom: 25px;
}

.contact-form textarea {
  display: block;
  margin-bottom: 41px;
}

.contact-form input.button {
  width: 250px;
  height: 45px;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  border-color: var(--color-dark-tile);
  background-color: var(--color-dark-tile);
}

.contact-form input.button:hover {
  opacity: 0.85;
}

.contact-content {
  padding-left: 75px;
}

.contact-content h3 {
  margin-bottom: 72px;
}

.contact-content p {
  color: #878787;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}


/* Cookie Bar */
div#shopify-section-cookies_law {
  padding: 25px 42px;
  background: #10324B;
}

.popup_cookies_text {
  color: #fff;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
}

.popup_cookies_btns a.pp_cookies_accept_btn {
  color: #000;
  background: #B99450;
  font-weight: 600;
  font-size: 16px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.popup_cookies_btns a.pp_cookies_accept_btn:hover {
  opacity: 0.85;
  background: #B99450;
}


.template-policy .rte, .template-policy .rte p, .shopify-policy__body .rte, .shopify-policy__body .rte p {
  line-height: 1.5;
}

.template-policy .rte h1, .template-policy .rte h2 {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 25px;
}

.template-policy .rte ul {
  line-height: 1.8;
}

.shopify-policy__container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.shopify-policy__title {
  text-align: center;
}


.recommendation-modal__button {
  background: #B99450 !important;
  color: #000 !important;
}

.recommendation-modal__button:hover, .recommendation-modal__button:focus {
  opacity: 0.85;
}